<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.social.ios.gamecenter" version="1.0.0">
    <name>CocoonGameCenter</name>
    <description>iOS Game Center API</description>
    <license>MPL 2.0</license>
    <keywords>cordova,Social,GameCenter,game,center,achievements,leaderboards,cocoon</keywords>
    <platform name="ios">
        <header-file src="src/LDGameCenterPlugin.h" />
        <source-file src="src/LDGameCenterPlugin.m" />

        <framework src="GameKit.framework" />

        <config-file target="config.xml" parent="/*">
	    	<feature name="LDGameCenterPlugin">
	        	<param name="ios-package" value="LDGameCenterPlugin" />
	    	</feature>
    	</config-file>

        <js-module src="www/cocoon_gamecenter.js" name="GameCenter">
            <merges target="window.Cocoon.Social.GameCenter" />
        </js-module>

    </platform>
    <dependency id="com.ludei.social.common" />
</plugin>